<%= form_for @user do |f| %>
  <%= form_errors_for @user %>  

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <br>
  <%= f.label :display_name %>
  <%= f.text_field :display_name, class: "form-control" %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control" %>
  <br>
  <%= f.label :bio %>
  <%= f.text_area :description, class: "form-control", placeholder: "Tell people about yourself." %>
  <br>
  <%= f.label :profile_picture %>
  <div class="custom-file mb-2">
    <%= f.file_field :profile_picture, class: "" %>
    <label class="custom-file-label" for="user_profile_picture">Choose image</label>
  </div>
  <% if @user.profile_picture.attached? %>
    <%= image_tag url_for(@user.profile_picture), width: 400, class: "img-thumbnail" %><br>
    <%= link_to "Remove profile picture", user_delete_profile_picture_path(@user), method: :delete %>
  <% end %>
  <br><br>
  <%= f.label :role %>
  <%= f.select :role, options_for_select([["User", "user"], ["Admin", "admin"]]), {}, {class: "form-control"} %>
  <br><br>
  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", root_path, class: "btn btn-outline-primary" %>
<% end %>

<script>

</script>