<div id="users" class="mb-5">
  <% if @users.empty? %>
    <center><h2>There aren't any users signed up!</h2></center>
  <% else %>
    <div class="row">
      <% @users.each do |user| %>
      <div class="col-sm-6">
        <a href="<%= user_path(user) %>">
          <div class="card">
            <% if user.image.attached? %>
              <img src="<%= url_for(user.image) %>" class="card-img-top" alt="<%= user.name %>">
            <% end %>
            <div class="card-body">
              <h3 class="card-title"><%= user.name %></h3>
              <p class="card-text"><%= user.description %></p>
              <% if user.location && user.location != "" %>
                <p><strong>Location: </strong><%= user.location %></p>
              <% end %>
              <%= link_to "View More", user_path(user), class: "btn btn-primary" %>
              <% if current_user.admin? %>
                <%= link_to "Edit", edit_user_path(user), class: "btn btn-warning" %>
                <%= link_to "Delete", user_path(user), method: :delete, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        </a>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
<% if user_signed_in? && current_user.admin? %>
<center><%= link_to "New user", new_user_path, class: "btn btn-primary" %></center>
<% end %>