<%= form_for @registration do |f| %>
  <% if @registration.errors.messages[:user].include? "registered" %>
  <div class="alert alert-warning">You're already registered for this event.</div>
  <% end %>
  <br>
  <%= f.hidden_field :event_id, value: params[:event_id] %>
  <%= f.hidden_field :user_id, value: params[:user_id] %>

  <%= f.label :channel %>
  <% if @registration.event.channel_allocation_method == "pilot" then %>
    <%= f.select :channel_id, @registration.event.channels.collect { |c| ["#{c.band.name} #{c.name} - #{c.frequency}", c.id]}, {}, {class: "form-control"} %>
    <br>
    <p id="channel_status"></p>
  <% else %>
    <p class="text-secondary">You will be assigned a channel by the Race Director. Please use the notes to let us know if you can't easily change VTX channel.</p>
  <% end %>
  <br>
  <%= f.label :skill_level %>
  <%= f.select :skill_level, options_for_select([["Beginner", "Beginner"], ["Intermediate", "Intermediate"], ["Pro", "Pro"]]), {}, {class: "form-control"} %>
  <br>
  <%= f.label :notes %>
  <%= f.text_area :notes, class: "form-control" %>
  <br>
  <%= f.submit "Register", class: "btn btn-primary" %>
  <%= link_to "Cancel", event_path(@registration.event), class: "btn btn-outline-primary" %>
<% end %>

<script>
  $('#registration_channel_id').on('change', function() {
    $.get("<%= event_check_channel_path(event_id: @registration.event.id, channel_id: 'channel_id') %>".replace('channel_id', $(this).val()), function(data) {
      if(data.length > 0) {
        clashes_string = ""
        $.each(data, function(key, pilot) {
          if(clashes_string == "") {
            clashes_string = "You will be sharing with: " + pilot.name;
          }
          else {
            clashes_string += ", " + pilot.name;
          }
        });
      }
      else {
        clashes_string = "You won't be currently sharing with anybody."
      } 
      $('#channel_status').text(clashes_string);
    });
  });
</script>