<%= form_for @registration do |f| %>
  <br>
  <%= f.hidden_field :event_id, value: params[:event_id] %>
  <%= f.hidden_field :user_id, value: params[:user_id] %>

  <%= f.label :channel %>
  <%= f.select :channel_id, @registration.event.channels.collect { |c| ["#{c.band.name} #{c.name} - #{c.frequency}", c.id]}, {}, {class: "form-control"} %>
  <br>
  <p id="channel_status"></p>
  <%= f.label :notes %>
  <%= f.text_area :notes, class: "form-control" %>
  <br>
  <%= f.submit "Register", class: "btn btn-primary" %>
  <%= link_to "Cancel", event_path(@registration.event), class: "btn btn-outline-primary" %>
<% end %>

<script>
  $('#registration_channel_id').on('change', function() {
    $.get("<%= event_check_channel_path(event_id: @registration.event.id, channel_id: 'channel_id') %>".replace('channel_id', $(this).val()), function(data) {
      if(data.length > 0) {
        clashes_string = ""
        $.each(data, function(key, pilot) {
          if(clashes_string == "") {
            clashes_string = "You will be sharing with: " + pilot.name;
          }
          else {
            clashes_string += ", " + pilot.name;
          }
        });
      }
      else {
        clashes_string = "You're not currently sharing with anybody."
      } 
      $('#channel_status').text(clashes_string);
    });
  });
</script>