<%= form_for @event do |f| %>
  <%= form_errors_for @event %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>
  <br>
  <%= f.label :location %>
  <%= f.text_area :location, class: "form-control" %>
  <br>
  <%= f.label :channel_allocation_method %>
  <%= f.select :channel_allocation_method, options_for_select([["Manual", "manual"], ["Pilot's choice", "pilot"]]), {}, {class: "form-control"} %>
  <br>  
  <div hidden id="channel-selection">
    <%= f.label :channels %>
    <%= f.select :channel_ids, Channel.all.collect { |c| ["#{c.band.name} #{c.name} - #{c.frequency}", c.id]}, {}, {multiple: true, class: "form-control"} %>
    <small class="form-text">Select the channels pilots are able to choose from.</small>
    <br>
  </div>
  <%= f.label :pilot_limit %>
  <%= f.number_field :pilot_limit, class: "form-control" %>
  <small class="form-text">Limit the number of pilots that can register for this event. Set to 0 for unlimited pilots if you're brave!</small>
  <br>
  <%= f.label :start %>
  <div class="input-group date" data-target-input="nearest" id="start_picker">
    <%= f.text_field :start, class: "form-control datetimepicker-input", placeholder: "DD/MM/YYYY HH:MM" %>
    <div class="input-group-append" data-target="#start_picker" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
  <br>
  <%= f.label :finish %>
  <div class="input-group date" data-target-input="nearest" id="finish_picker">
    <%= f.text_field :finish, class: "form-control datetimepicker-input", placeholder: "DD/MM/YYYY HH:MM" %>
    <div class="input-group-append" data-target="#finish_picker" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
  <br>
  <%= f.label :registration_start %>
  <div class="input-group date" data-target-input="nearest" id="registration_start_picker">
    <%= f.text_field :registration_start, class: "form-control datetimepicker-input", placeholder: "DD/MM/YYYY HH:MM" %>
    <div class="input-group-append" data-target="#registration_start_picker" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
  <br>
  <%= f.label :registration_end %>
  <div class="input-group date" data-target-input="nearest" id="registration_end_picker">
    <%= f.text_field :registration_end, class: "form-control datetimepicker-input", placeholder: "DD/MM/YYYY HH:MM" %>
    <div class="input-group-append" data-target="#registration_end_picker" data-toggle="datetimepicker">
      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
    </div>
  </div>
  <br>
  <%= f.label :image %>
  <div class="custom-file mb-2">
    <%= f.file_field :image, class: "" %>
    <label class="custom-file-label" for="event_image">Choose image</label>
  </div>
  <% if @event.image.attached? %>
    <%= image_tag url_for(@event.image), width: 400, class: "img-thumbnail" %><br>
    <%= link_to "Remove image", event_delete_image_path(@event), method: :delete %>
  <% end %>
  <br><br>
  <%= f.label :pilot_brief %>
  <div class="custom-file mb-2">
    <%= f.file_field :pilot_brief, class: "" %>
    <label class="custom-file-label" for="event_pilot_brief">Choose file</label>
  </div>
  <br>
  <% if @event.pilot_brief.attached? %>
    <p><strong>Current file: </strong><%= @event.pilot_brief.blob.filename %></p>
    <%= link_to "Remove file", event_delete_pilot_brief_path(@event), method: :delete %>
  <% end %>
  <br><br>
  <%= f.label :pilot_brief_downloadable %>
  <%= f.select :pilot_brief_downloadable, options_for_select([["Yes", true], ["No", false]]), {}, {class: "form-control"} %>
  <small class="form-text">Should pilots be able to download the pilot brief from the events page? It will also be emailed to them.</small>
  <br>
  <%= f.label :stream_id %>
  <%= f.text_field :stream_id, class: "form-control", placeholder: "Leave blank if not streaming event." %>
  <small class="form-text">Please enter the ID or name of the <strong>Twitch</strong> channel you want to be displayed.</small>
  <br>
  <br><br>
  <%= f.submit "Save", class: "btn btn-primary" %>
  <%= link_to "Cancel", events_path, class: "btn btn-outline-primary" %>
<% end %>

<script>
  $(document).ready(function () {
    $('#start_picker').datetimepicker({keepInvalid: true, format: 'DD/MM/YYYY HH:mm:ss'});
    $('#finish_picker').datetimepicker({keepInvalid: true, format: 'DD/MM/YYYY HH:mm:ss'});
    $('#registration_start_picker').datetimepicker({keepInvalid: true, format: 'DD/MM/YYYY HH:mm:ss'});
    $('#registration_end_picker').datetimepicker({keepInvalid: true, format: 'DD/MM/YYYY HH:mm:ss'});
    $('#event_channel_allocation_method').on('change', function() {
      if($(this).val() == "pilot") {
        $('#channel-selection').show();
      }
      else {
        $('#channel-selection').hide();
      }
    });
  });
</script>