<% if @event.finished? %>
  <div class="alert alert-warning">This event has finished.</div>
<% end %>
<% if current_user.registered_for?(@event) %>
  <div class="alert alert-notice">You're registered for this event on <%= current_user.registration_for(@event).channel.band.name %> <%= current_user.registration_for(@event).channel.name %> (<%= current_user.registration_for(@event).channel.frequency %>). <% if @event.registration_open? %>Want to change your registration? <%= link_to "Click Here", edit_registration_path(current_user.registration_for(@event)) %><% end %></div>
<% end %>
<% if @event.registration_start > Time.now %>
  <div class="alert alert-notice">Registration opens in <strong id="registration_starts_in"></strong></div>
<% elsif @event.registration_open? %>
  <div class="alert alert-notice">Registration closes in <strong id="registration_closes_in"></strong></div>
<% end %>
<div class="row">
  <div class="col-sm-8">
    <h1 style="border-bottom: 10px solid #343a40; padding-bottom: 20px; margin-bottom: 20px;"><%= @event.name %> <% if @event.registration_open? && !current_user.registered_for?(@event) %><%= link_to "Register", new_registration_path({event_id: @event.id, user_id: current_user.id}), class: "btn btn-lg btn-primary pull-right" %><% end %></h1>
    <p style="word-break: break;"><%= @event.description %></p>
    <% if @event.image.attached? %>
      <div class="w-100 mb-3">
        <%= image_tag url_for(@event.image), class: "mb-3", style: "width: 100%; overflow: hidden" %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4">
    <div class="card mb-4">
      <div class="card-header">
        <h3>Details</h3>
      </div>
      
      <div class="card-body">
        <% if @event.location && @event.location != "" %>
          <p><strong>Location:</strong> <%= link_to @event.location, "https://www.google.com/maps/search/#{@event.location}", target: "_blank" %></p>
        <% end %>
        <p><strong>Start: </strong><%= @event.start.strftime("%d/%m/%Y - %H:%M") %></p>
        <p><strong>End: </strong><%= @event.finish.strftime("%d/%m/%Y - %H:%M") %></p>
        <p><strong>Registration Start: </strong><%= @event.registration_start.strftime("%d/%m/%Y - %H:%M") %></p>
        <p><strong>Registration End: </strong><%= @event.registration_end.strftime("%d/%m/%Y - %H:%M") %></p>
      </div>
    </div>
    <% if @event.registration_open? && @event.registrations.length > 0 %>
    <div class="card">
      <div class="card-header">
        <h3>Pilots Registered <% if current_user.admin? %><%= link_to event_registrations_path(@event, format: :csv), class: "btn btn-primary btn-md" do %><span class="fa fa-download"></span><% end %><% end %></h3>
      </div>
      <div class="card-body">
        <% @event.registrations.each do |registration| %>
          <% if registration.user && registration.user.profile_picture.attached? %>
            <center class="mb-1">
              <%= image_tag url_for(registration.user.profile_picture), class: "img-thumbnail" %>
            </center>
          <% elsif registration.user.profile_picture_url %>
          <% end %>
          <strong><%= registration.user.name %></strong> on <strong><%= registration.channel.band.name %> <%= registration.channel.name %></strong>
        <hr>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <%= link_to "Back to all events", events_path, class: "mt-4 btn btn-primary" %>
  <% if current_user.admin? %>
    <%= link_to "Edit", edit_event_path(@event), class: "mt-4 btn btn-warning" %>
  <% end %>
</div>

<script type="text/javascript">
  <% if @event.registration_start > Time.now %>
  $("#registration_starts_in")
  .countdown("<%= @event.registration_start %>", function(event) {
    $(this).text(
      event.strftime('%D days %H:%M:%S')
    );
  });
  <% elsif @event.registration_open? %>
  $("#registration_closes_in")
  .countdown("<%= @event.registration_end %>", function(event) {
    $(this).text(
      event.strftime('%D days %H:%M:%S')
    );
  });
  <% end %>
</script>